In [4]:
number = int(input("Введіть число:"))
if number %2 == 0:
  print("Парне")

Введіть число:5

In [6]:
grade = float(input("Введіть середній бал:"))

if grade > 90:
  print("Відмінник")
elif grade > 75:
  print("Молодець")
else:
  print("Старайся більше")

Введіть середній бал:75.5
Молодець

In [8]:
for price in range(10,100,5):
  price_tax = price*1.2
  print(f"Ціна без ПДВ {price}-> Ціна з ПДВ {price_tax}")

Ціна без ПДВ 10-> Ціна з ПДВ 12.0
Ціна без ПДВ 15-> Ціна з ПДВ 18.0
Ціна без ПДВ 20-> Ціна з ПДВ 24.0
Ціна без ПДВ 25-> Ціна з ПДВ 30.0
Ціна без ПДВ 30-> Ціна з ПДВ 36.0
Ціна без ПДВ 35-> Ціна з ПДВ 42.0
Ціна без ПДВ 40-> Ціна з ПДВ 48.0
Ціна без ПДВ 45-> Ціна з ПДВ 54.0
Ціна без ПДВ 50-> Ціна з ПДВ 60.0
Ціна без ПДВ 55-> Ціна з ПДВ 66.0
Ціна без ПДВ 60-> Ціна з ПДВ 72.0
Ціна без ПДВ 65-> Ціна з ПДВ 78.0
Ціна без ПДВ 70-> Ціна з ПДВ 84.0
Ціна без ПДВ 75-> Ціна з ПДВ 90.0
Ціна без ПДВ 80-> Ціна з ПДВ 96.0
Ціна без ПДВ 85-> Ціна з ПДВ 102.0
Ціна без ПДВ 90-> Ціна з ПДВ 108.0
Ціна без ПДВ 95-> Ціна з ПДВ 114.0

In [10]:
a = input("Число 1:")
b = input("Число 2:")
c = input("Число 3:")

if a > b:
  if a > c:
    print(f"{a}")
  else:
    print(f"{c}")
else:
  if c > b:
    print(f"{c}")
  else:
    print(f"{b}")

Число 1:81
Число 2:32
Число 3:89
89

In [12]:
x = 1000
i = 0
while x < 5000:
  i +=1
  x += 300
  print(f"Місяць {i} - {x}грн")

Місяць 1 - 1300грн
Місяць 2 - 1600грн
Місяць 3 - 1900грн
Місяць 4 - 2200грн
Місяць 5 - 2500грн
Місяць 6 - 2800грн
Місяць 7 - 3100грн
Місяць 8 - 3400грн
Місяць 9 - 3700грн
Місяць 10 - 4000грн
Місяць 11 - 4300грн
Місяць 12 - 4600грн
Місяць 13 - 4900грн
Місяць 14 - 5200грн

In [13]:
year = int(input("Введіть рік:"))
if year%4 == 0 and year%100 != 0 or year%400 == 0:
  print("Високосний")
else:
  print("Звичайний рік")

Введіть рік:2012
Високосний

In [14]:
x = 0
while x < 21:
  x += 1
  if x == 4:
    continue
  print(x)

1
2
3
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [19]:
x = 10000
month = 0
while x >= 0:
  month += 1
  x -= 1200
  x = round(x*1.02,2)

  if x > 0:
    print(f"Місяць: {month}.\nЗалишок боргу: {x}\n")
  else:
    print(f"Місяць: {month}.\nЗалишок боргу: 0\n")

Місяць: 1.
Залишок боргу: 8976.0

Місяць: 2.
Залишок боргу: 7931.52

Місяць: 3.
Залишок боргу: 6866.15

Місяць: 4.
Залишок боргу: 5779.47

Місяць: 5.
Залишок боргу: 4671.06

Місяць: 6.
Залишок боргу: 3540.48

Місяць: 7.
Залишок боргу: 2387.29

Місяць: 8.
Залишок боргу: 1211.04

Місяць: 9.
Залишок боргу: 11.26

Місяць: 10.
Залишок боргу: 0

In [4]:
total_income = 0
while True:
  income = float(input("Ваш місячний дохід:"))
  if income == 0:
    break
  elif income <= 0:
      print("Дохід не може бути від'ємним")
      continue
  else:
    total_income += income
    print(f"Ваш дохід збережено.\nСукупний дохід: {total_income}")

Ваш місячний дохід:500
Ваш дохід збережено.
Сукупний дохід: 500.0
Ваш місячний дохід:700
Ваш дохід збережено.
Сукупний дохід: 1200.0
Ваш місячний дохід:1.1
Ваш дохід збережено.
Сукупний дохід: 1201.1
Ваш місячний дохід:-60
Дохід не може бути від'ємним
Ваш місячний дохід:0